*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    position: relative;
    background-color: black;
    /* overflow: hidden;
    padding: 20px 100px; */
}

.fade1 , .fade2{
    content: " ";
    width: 350px;
    height: 350px;
    border-radius: 50%;
    background: linear-gradient(160deg , #14a2cd , #ff00b7);
    position: absolute;
    top: -100px;
    left: -20px;
    filter: blur(150px);
    z-index: -100;
}
.fade2{
    top: 350px;
    left: 800px;
    height: 450px;
    width: 450px;
    filter: blur(250px);
}
header nav{
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo{
  font-size: 35px;
  font-weight: 550;
  color: white;
}
nav ul{
  display: flex;
  /* flex-direction: row; */
  gap: 20px;
  align-items: center;
  list-style: none;
}
ul li a{
  text-decoration: none;
  color: white;
  font-size: 22px;
  letter-spacing: 2px;
  /* position: relative; */
}
ul li a::after{
  content: " ";
  width: 0%;
  height: 1px;
  background: white;
  position: absolute;
  bottom: -5px;
  left: 0;
  transition: .3s;
}
ul li a:hover{
  color: #ffa200;
  font-size: 30px;
  transition-duration: 1s;
}
ul li a:hover::after{
  width: 100%;

}
 .contact{
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
 }
 .contact .contact-us{
    max-width: 800px;
    text-align: center;
    color: white;
 }
 .contact .contact-us h2{
    font-size: 46px;
    font-weight: 500;
    text-decoration: underline;
    margin-bottom: 5%;
    /* color: white; */
    color: #ffa200;
 }
 .contact .contact-us p{
    font-size: 25px;
    word-spacing: 3px;
   
    
 }
 .container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
 }
 .container .contact-info{
   width: 50%;
   display: flex;
   flex-direction: column;
 }
 .container .contact-info .box{
   min-width: auto;
   height: auto;
   margin: 5%;
   background: transparent;
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 16px;
   color: #ffa200;
 } 
 .container .contact-info .box .text{
   display: flex;
   font-size: 16px;
   padding-left: 20px;
  flex-direction: column;
   font-weight: 300;
   color: white;
 }
 .container .contact-info .box .text h3{
   font-weight: 500;
   font-size: 25px;
   color: #ffa200;
 }
 .contact-form{
   width: 40%;
   padding: 40px;
 }
 .contact-form h2{
   font-size: 40px;
   color: #ffa200;
   margin-bottom: 10%;
 }
 .contact-form .input-box{
   position: relative;
   width: 100%;
   height: 50%;
   margin-top: 10px;
   
   
 }
 .contact-form .input-box input ,.contact-form .input-box textarea {
   width: 100%;
   padding: 10px 0;
   font-size: 26px;
   font-weight: 400;
   border: 2px solid black;
   border-radius: 25px;
   justify-content: center;
   box-sizing: border-box;
   
 
 }
 .contact-form .input-box span{
   position: absolute;
   left: 0;
   font-size: 16px;
   padding: 5px 0 ;
   margin: 10 0;
   pointer-events: none;
   transition: 0.5s;
   color: #666;
   margin-left: 16px;
   margin-top: 10px;

 }
 .contact-form .input-box input:focus ~ span , .contact-form .input-box input:valid ~ span
 .contact-form .input-box  textarea:focus ~ span , .contact-form .input-box textarea:valid ~ span{
   font-size: 12px;
   transform: translateY(-20px);
   color: #e91e63;
 }
 .contact-form .input-box input[type="submit"]{
   width: 100px;
   background: #ffa200;
   color: black;
   border: 2px solid black;
   border-radius: 25px;
   cursor: pointer;
   padding: 10px;
   font-size: 25px;
 }
 .contact-form .input-box input[type="submit"]:hover{
  font-size: 30px;
  transition: 1s;
  background: transparent;
  color: #ffa200;
  border: 2px solid #ffa200;
  
 }
 footer{
  padding-top: 20px;
  background-color: #343434;
  margin-top: 20px;
  
  
}
.ft-container{
  width: 100%;
  /* margin: auto; */
  display: flex;
  justify-content: space-evenly;
  display: flex;
  flex-direction: row;
}
.footer{
  width: 100%;
}
.footer-content h3{
  font-size: 20px;
  margin-bottom: 15px;
  text-align: center;
  color: white;
}
.footer-content p{
  width: 190px;
  margin: auto;
  padding: 7px;
  color: white;
}
.footer-content ul{
  text-align: center;
}
.footer-content li{
  width: auto;
  text-align: center;
  list-style-type: none;
  padding: 7px;
  position: relative;
}
.footer-content li::before{
  content: "";
  position: absolute;
  transform: translate(-50%,-50%);
  left: 50%;
  top: 100%;
  width: 0;
  height: 20px;
  background: #ffa200;
  transition-duration: .5s;
}
.footer-content li:hover::before{
  width: 70px;
}
.Social-links{
  text-align: center;
  padding: 0;
}
.Social-links h3{
  font-size: 20px;
  margin-bottom: 15px;
  text-align: center;
  color: white;
}
.Social-links li{
  display: inline;
  text-align: center;
  padding: 5px;

}
.Social-links i{
  color: white;
  font-size: 25px;
}
footer a{
  text-decoration: none;
}
footer a:hover{
  color: #ffa200;
}
.Social-links i:hover{
  color: #ffa200;
  font-size: 40px;
  transition-duration: .5s;

}
.bottom{
  background-color: #ffa200;
  color: black;
  padding: 7px;
  font-size: 16px;
  display: flex;
  justify-content: center;
}